<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div th:fragment="header" >
	
	<div style="background-color: rgb(128, 98, 255); position:fixed; top:0px; width:100%;">

		<div align="center" >
			<h1 style="color: white; padding-top: 1%">DEMEMERR</h1>
		</div>
		
		<div class ="bs-example" style="margin-left: 0; margin-right: 0; ">
	
			<nav class="navbar navbar-default" style="border: 0;">
				<div class="navbar-header">
					<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div id="navbarCollapse" class="collapse navbar-collapse" style="background-color: rgb(128, 98, 255, 0.8);">
					<ul class="nav navbar-nav" >
						<li><a href="/" style="color: white;">Home</a></li>
						<li><a href="/friends/" style="color: white;">Friends</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/registration/" style="color: white;">Sign Up</a></li>
						<li><a href="/login/" style="color: white;">Login</a></li>
						<li><a href="/login/ResetPassword" style="color: white;">Reset Password</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	<h2 th:text="${title}" >Default Message Text</h2><br/>
</div>

<div th:fragment="footer">
	<h5 style="text-align:center; position:fixed; bottom:0; width:100%; height:5%; color: white;background-color: rgb(128, 98, 255);">Copyright 2022 Dememerr</h5>
</div>