<html xmlns:th="http:/www.thymeleaf.org" xmlns:layout="http://www.utraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
<head>
</head>
<body>
	<div layout:fragment="content">
		<form action="#" th:action="@{doResetPassword}" th:object="${resetPasswordModel}" method="post">
			<table>
				<tr>
					<td>Username:</td>
					<td><input type="text" th:field="*{Username}"></td>
					<td><h5 style="color:red" th:if="${#fields.hasErrors('Username')}" th:errors="*{Username}">User Name Error</h5></td>
				</tr>
				<tr>
					<td>Current Password:</td>
					<td><input type="password" th:field="*{CurrentPassword}"></td>
					<td><h5 style="color:red" th:if="${#fields.hasErrors('CurrentPassword')}" th:errors="*{CurrentPassword}">Current Password Error</h5></td>
				</tr>
				<tr>
					<td>New Password:</td>
					<td><input type="password" th:field="*{NewPassword}"></td>
					<td><h5 style="color:red" th:if="${#fields.hasErrors('NewPassword')}" th:errors="*{NewPassword}">New Password Error</h5></td>
				</tr>
				<tr>
					<td>Verify Password:</td>
					<td><input type="password" th:field="*{VerifyNewPassword}"></td>
					<td><h5 style="color:red" th:if="${#fields.hasErrors('VerifyNewPassword')}" th:errors="*{VerifyNewPassword}">Verify New Password Error</h5></td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit" value="Reset Password"/></td>
				</tr>
			</table>
			<div th:if="${#fields.hasErrors('*')}">List of Errors</div>
	  		<div th:each="err : ${#fields.errors('*')}">
	  			<span style="color:red" th:text="${err}" class="fieldError"></span>
	  		</div>
		</form>
	</div>
</body>
</html>